@model smart_dorms.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prioritate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prioritate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Detalii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Detalii)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCameraNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCameraNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipCerereNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipCerereNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipStatusNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipStatusNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdUserNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdUserNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
